*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
  background-color: #444;
}
.App{
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1600px;
}
header {

}
div.App>main {
flex-grow: 1;
}
footer {
text-align: center;
min-height: 4vh;
}

@media(min-width:1024px) {
  .App {
  }
}