nav {
    background-color: #aaa;
}
nav>ul {
    display: flex;
    flex-direction: line;
    list-style: none;

}
nav>ul>li {
    display: block;
    text-align: center;
    flex-grow: 1;
    line-height: 80px;
}
nav>ul>li>a {
    display: block;
    color: white;
    text-decoration: none;
}
nav>ul>li>a:hover {
    background-color: #222;
}


@media(min-height:1024px) {
    nav>ul {
        flex-direction: row;
    }
}
