.App div.confirm {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}


.App div.confirm form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

.App div.confirm form input {
    color: black;

}

.App div.confirm form input::placeholder {
    padding: 15px;
}

.App div.confirm form input {
    border: 2px solid black;
    align-self: center;
    margin: auto 40px;
    color: #000;
    width: 50%;
    line-height: 80px;
    letter-spacing: 1px;
}

.App div.confirm form span {
    display: block;
    color: red;
}

.App div.confirm form button {
    border: 2px solid #000;
    color: #000;
    font-size: 20px;
    padding: 10px;
    margin: auto;
}

.App div.confirm form button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

@media (min-width: 1024px) {
    .App div.confirm form button {
        font-size: 40px;
        padding: 20px;
    }

    .App div.confirm form input {
        font-size: 30px;
    }

    .App div.confirm form label {
        font-size: 40px;
    }

}